--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn
python-dotenv
httpx
anthropic
requests
pypdf
langchain
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
supabase